{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
  <div class="jumbotron mb-0 py-4">
    <h1 class="title">Wikidict</h1>
    <h4>Wyszukiwarka znaczeń i odmiany słów</h4>
  </div>
  <p>
    <form action="/" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
</form>
  </p>

{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}

{% block title_block %}
- home
{% endblock title_block%}